
input.middle:focus {
    outline-width: 0;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
nav ul li{
    display: inline-block;
    /* float: left; */
    margin-left: 0px; 

}
nav ul li a{
    display: block;
    height: 30px;
    padding: 10px 15px 0px 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(8, 8, 8);
    font-family: 'Courier New', Courier, monospace;
    word-spacing: none;
    border-bottom: 4px solid rgb(233, 229, 229);

}
nav ul li a:hover{
    color: rgb(184, 176, 176);
    border-bottom: 4px solid blue;
  
}
.Logokapsayici{
width: 100%;
height:150px;
background-color:white;
position: relative;
}
.ust{
  
    font-size: 50px;
    width:25%;
   height:50%;
  
   bottom: 35px;
   position: absolute;
   margin-left: 10px;

}
.alt{
    width: 20%;
    height: 30%;
    color: rgb(114, 113, 113);
  
    position: absolute;
    bottom: 5px;
    margin-left: 10px;
 
}
.inputt input[type=text]{

   position: absolute;
   bottom: 10px;
   right: 100px;
  height: 25px;
  top: 70px;
  width: 15%;
  border: 2px solid rgb(233, 229, 229);
  border-radius: 5px;
  -webkit-transition: width 0.4s ease-in-out;

  transition: width 0.4s ease-in-out;

}
.inputt input[value="Search Our Website..."]{
    color:  rgb(233, 229, 229);
}
.inputt input[type=text]:focus {

    width: 50%;
   outline: none;
}
.inputt input[type=submit]{
    width: 75px;
    background-color: rgb(0, 202, 252);
    border: 2px solid;
    border-radius: 5px;
    border-color:rgb(0, 202, 252) ;
    position: absolute;
    top:70px;
    bottom: 10px;
    right: 20px;
    height: 30px;
    color: white;

}
.kapsayici{
width: 100%;
height: 300px;
background-color:rgb(233, 229, 229);
position: relative;
border-bottom: 8px solid rgb(219, 216, 216) ;
border-top:  8px solid rgb(219, 216, 216) ;

}

.ust2{
    font-size: 40px;
    width: 40%;
    height: 100px;
    position: absolute;
    bottom:140px;
    left: 15px;
    
    
}
.alt2{
    width: 40%;
    height: 100px;
    position: absolute;
    font-size: 15px;
    bottom: 30px;
    left: 15px;
}

.cerceve{
    width: 600px;
    height: 300px;
    overflow: hidden;
    position: absolute;
    right: 10px;
    top: 0px;
    bottom: 0px;
}

.galeri{
    width: 400%;
    left: 0;
    position: relative;
    animation: 16s slayt infinite;
}

.galeri img{
    width: 25%;
    float: left;
}

@keyframes slayt {
    0% {left: 0%;}
    30% {left: -100%;}
    60% {left: -200%;}
    90% {left: -300%;}
}
.read a{
    border:3px solid  rgb(0, 202, 252);
    border-radius:5px;
    background-color: rgb(0, 202, 252);
    text-decoration: none;
    bottom: 40px;
    left: 15px;
    position: absolute;
    color: white;
    padding: 3px;
}

/*.kapsayici2{
width: 100%;
height:500px;
background-color: rgb(173, 167, 159);
position: relative;
display: inline-block;

}

.foto2 img{
    padding: 20px;
    height: 400px;
    width: 400px;

}

.altlorem{
    width: 70%;
    height: 50px;
    background-color: blue;
    border: 5px black;
}

.dis{
 display: inline-block;
 width:200px;
 height: 200px;
 background-color: rgb(175, 143, 143);
}
*/

.content{
    width: 100%;
    height: 500px;
 
    position: relative;
    margin: auto;
}

.content .right{
    width: 50%;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
  
}
.content .left{
    width: 50%;
   
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: block;

}
.content .left img{
    padding: 20px;
    margin-left: 20px;
}
.content .right .bir{
    padding: 10px;
    position: relative;


}
.bir{
    width: 150px;
    height: 200px;
   
    position: absolute;
    left: 100px;
    top: 30px;
   
}
.yazi1{
    font-size:13px;
}
h3{
    color:  rgb(0, 202, 252);
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
}
.iki{
    width: 150px;
    height: 200px;
   
    left: 350px;
    position: absolute;
    top: 30px;
    padding: 10px;
}
.uc{
    width: 150px;
    height: 200px;
    
    position: absolute;
    left: 100px;
    padding: 10px;
    top: 250px;

}
.dort{
    width: 150px;
    height: 200px;
    
    left: 350px;
    position: absolute;
    top:250px;
    padding: 10px;

}
.border{
    width: 99%;
    height: 100px;
    background-color: rgb(235, 228, 228);
    position: relative;
  
    border-left: 10px solid rgb(0, 202, 252)  ;
    margin-left: 4px;

}
.border .yazi5 h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    color: rgb(27, 26, 26);
    padding-left: 20px;
    padding-top: 15px;
}
.border .yazi5 p{
    padding-left: 20px;
    padding-bottom: 20px;
}
.border .border2{
    width: 15%;
    height: 50px;
    background-color: rgb(0, 202, 252);
   
    border-radius: 7px;
    position: absolute;
    right: 300px;
    bottom: 20px;

}
   .border2 h3{
       color: white;
       text-align: center;
       font-family:'Times New Roman', Times, serif
        
   }

  
.kapsayicii{
    width: 100%;
    height: 450px;
 
    position: relative;
    margin: auto;
    margin-top: 30px;
}
.kapsayicii .left1{
    width: 25%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: block;
    background-color: rgb(46, 45, 45);
}
.kapsayicii  .left2{
    width: 25%;
    position: absolute;
    left:25%;
    top: 0;
    bottom: 0;
    display: block;
    background-color: cadetblue;
}
.kapsayicii .right2{

    width: 25%;
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    display: block;
    background-color:rgb(46, 45, 45) 
}
.kapsayicii .right1{
    width: 25%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    background-color: rgb(46, 45, 45);
}

.left1 img{
    width: 250px;
    height: 125px;
    margin:20px 20px 10px 30px;

}
 .kapsayicii .left1 h3{
    font-size: 20px;
    margin: 30px 20px 0px 30px;
    color: white;
    font-weight: 5;
  

}
.left1 p{
    color: rgb(165, 163, 163);
    margin-left: 28px;
    margin-top:0px;
    
 
}

.yaziii{

    width: 100px;
    height: 20px;
    color:  rgb(0, 202, 252);
    position: absolute;
    right: 10px;
}
.list{
    position: absolute;
    top: 70px;
}
.list li{
   
    margin: 10px;
    color:  rgb(0, 202, 252);
  list-style: none;

}


.kapsayicii .left2 h3{
    color: white;
    padding: 20px;
    text-transform: uppercase;
    font-weight: 10;
}
 .kapsayicii .left2{
    background-color:rgb(46, 45, 45) ;
}
.list ol li::before {
    content: "\2022";
    color: rgb(165, 163, 163);
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;

}
.right2 h3{
    color: white;
    padding: 20px;
    font-weight: 10;
}

.right2 .post{
    margin-left: 20px;
    color: rgb(165, 163, 163);
}
 .right2 .readmore2{
    width: 100px;
    height: 20px;
    color:  rgb(0, 202, 252);
    position: absolute;
    right: 10px;
}
.right2 .readmore3{
    width: 100px;
    height: 20px;
    color:  rgb(0, 202, 252);
    position: absolute;
    right: 10px;
}
.right2 .post2{
    margin-left: 20px;
    color: rgb(165, 163, 163);
    margin-top: 25px;
}
.contact{
    padding: 20px;
    margin-top: 10px;
    color: white;
}
.input input[type=text]{
    width: 66%;
    margin-left: 20px;
    height: 25px;
   border-radius: 7px;
    padding: 10px;  background-color: rgb(73, 70, 70);
    box-shadow: none;
    border:none;
}

.input2 input[type=text]{
    width: 66%;
    margin-top: 10px;
    margin-left: 20px;
    height: 25px;
background-color: rgb(73, 70, 70);
 border-radius: 7px;
    padding: 10px;
    box-shadow: none;
    border: none;
}
.input3 input[type=text]{
    width: 66%;
   margin-left: 20px;
   height: 25px;
   margin-top: 10px;
   background-color: rgb(73, 70, 70);
    border-radius: 7px;
    padding: 10px;
    box-shadow: none;
    border: none;
}
 .input4 textarea{
    width: 66%;
    margin-left: 20px;
    height: 150px;
    margin-top: 10px;
    background-color: rgb(73, 70, 70);
    border: 0;
    border-radius: 7px;
    padding: 10px;
    box-shadow: none;
   

}
.submit2 input[type=submit]{
    width: 75px;
    background-color: rgb(0, 202, 252);
    border: 2px solid;
    border-radius: 5px;
    border-color:rgb(0, 202, 252) ;
    
    top:70px;
    bottom: 10px;
    right: 20px;
    height: 30px;
    color: white;
    margin-left: 20px;
    margin-top:5px;

}
.fot{
    width: 100%;
    height: 80px;
    background-color:rgb(73, 70, 70)

}
.fot .ilk{
  line-height: 80px;
    color:rgb(165, 163, 163) ;
    font-size: 17px;
    margin-left: 20px;
    opacity: 0.8;
}

/*div{
    display: block;
    background-color: blueviolet;
    /* position:relative;
    top:100px; */

/*
.kapsayici{
    position: relative;
    border: 3px solid black;
}

.d1{
    height: 150px;
    background-color: green;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.d2{
    width: 100px;
    height: 50px;
    background-color: green;
    display: inline;
    margin-left: 20px;
    
}
.d3{
    display: inline-block;
    width: 300px;
    height: 300px;
    background-color: indianred;
    margin-left: 50px;
    position: relative;
    z-index: 0;
}
.buton{
    width: 50px;
    height: 50px;
    background-color: brown;
    border-radius: 100px;
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 50px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.d4{
    width: 60px;
    height: 60px;
    background-color: khaki;
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 20px;
   
   
}
.d5{
    width: 25px;
  height: 25px;
background-color: magenta;
position: absolute;
right: 80px;
bottom: 45px;
z-index: 1;

}*/
